.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(124,26,29);
    color: white;
    width: 100%;
    font-size: 1.2rem;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-left {
    margin-left: 10px;
    display: flex;
    align-items: center;  
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 20px;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 10px;
    padding: 5px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: all 0.5s ease-in-out;
}

.nav-link:hover {
    background-color: rgb(158,134,35);
    color: white;
    opacity: 1;
    border-radius: 8px;
}

.active{
    background-color: green;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    padding:5px;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.voltar {
    display: flex;
    margin-left: 2%;
}

.titulo {
    display: flex;
    text-align: center;
    flex-grow: 1;
    justify-content: center;
}

.cadastro {
    display: flex;
    margin-right: 2%;
}

.topo a {
    text-decoration: none;
}

.button {
    background-color: rgb(158,134,35);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #996600;
    transition: all 0.5s ease-in-out;
}

.tabela{
    padding: 2%;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}
th,td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f5f5f5;
}

.opcoes-flutuantes .opcoes {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 4px;
}

.opcoes-flutuantes:hover .opcoes {
    display: block;
}

.opcoes-flutuantes span {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.opcoes-flutuantes .opcoes a {
    display: block;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #f9f9f9;
}

.opcoes-flutuantes .opcoes a:hover {
    background-color: #e9e9e9;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-left:4px;
}

.pagination a.active {
    background-color: #f3bf57;
    color: white;
    border: 1px solid #f3bf57;
    border-radius: 8px;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

hr{
    width: 98%
}

.opcoes-flutuantes .opcoes {
display: none;
position: absolute;
z-index: 1;
background-color: #f9f9f9;
min-width: 120px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
border-radius: 4px;
}

.opcoes-flutuantes:hover .opcoes {
    display: block;
}

.opcoes-flutuantes span {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.opcoes-flutuantes .opcoes a {
    display: block;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #f9f9f9;
}

.opcoes-flutuantes .opcoes a:hover {
    background-color: #e9e9e9;
}