body {
    font-family: Arial, sans-serif;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: changeBackground 15s infinite;
    height: 100vh;
    background-image: linear-gradient(to bottom, #ffcccc, #ffffff), url('sua-imagem.jpg');
    background-blend-mode: overlay;
}

h1 {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

form {
    margin: 50px auto;
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    transition: all 0.5s ease-in-out;
    background-color: white;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: rgb(158,134,35);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #996600;
    transition: all 0.5s ease-in-out;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.message-container {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 2px auto;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
